.hero {
   display: flex;
   flex-direction: row;
   gap: 75px;

   &--left {
      flex-direction: row-reverse;
   }

   &__text {
      display: flex;
      flex-direction: column;
   }

   &__btn {
      align-self: center;
      margin-top: auto;
      margin-bottom: 15px;
   }

   &__image {
      width: 45%;
      flex-shrink: 0;
      box-shadow: $defaultShadow;
      max-height: 500px;
      &--rounded {
         border-radius: 25px;
         overflow: hidden;
      }
   }

   & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
   }
}
