.welcome {
   color: white;
   background-color: $primaryColor;

   &__content {
      display: flex;
      align-items: center;
      gap: 10%;
   }

   &__text {
      width: 50%;
   }

   &__title {
      text-align: left;
      margin-bottom: 25px;
   }

   &__image {
      & img {
         width: 100%;
         border-radius: 50px;
         box-shadow: $defaultShadow;
      }
   }
}
